Repository landmanbester/hip-cargo: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme

update-cli-help:
  name: Update CLI help SVGs
  entry: python scripts/update_cli_help.py
  language: system
  pass_filenames: false

update-readme:
  name: Update README with code snippets
  entry: python scripts/update_readme.py
  language: system
  pass_filenames: false

Bump version to 0.1.8
  pyproject.toml
  src/hip_cargo/__init__.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

feat: add git-cliff configuration for automated changelog generation
  CHANGELOG.md
  cliff.toml
Due: none

fix: improve cliff.toml template spacing and add deps(chore) parser
  CHANGELOG.md
  cliff.toml
Due: none

ci: integrate git-cliff into tbump release workflow
  tbump.toml
Due: none

docs: add conventional commit guidelines and update contributing workflow
  README.md
Due: update-readme

docs: add conventional commit guidance to CLAUDE.md for AI agents
  CLAUDE.md
Due: none

feat(init): add git-cliff template and tbump integration for scaffolded projects
  src/hip_cargo/core/init.py
  src/hip_cargo/templates/cliff.toml
  src/hip_cargo/templates/tbump.toml
Due: update-cli-help, update-readme

add git-cliff integration
  pyproject.toml
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
Due: update-cli-help, update-readme

feat: replace entry-point lookup with _container_image module import
  src/hip_cargo/_container_image.py
  src/hip_cargo/utils/config.py
  tests/test_config.py
Due: update-cli-help, update-readme

fix: remove spec-violating entry point and importlib_metadata dependency
  pyproject.toml
  src/hip_cargo/core/generate_cabs.py
  uv.lock
Due: update-cli-help, update-readme

test: update container tag regex tests for _container_image.py syntax
  tests/test_container_tag_regex.py
Due: none

ci: retarget tbump container tag hooks to _container_image.py
  tbump.toml
Due: none

ci: retarget update-cabs workflow to _container_image.py
  .github/workflows/update-cabs.yml
Due: none

feat(init): update scaffolding templates for _container_image.py
  src/hip_cargo/core/init.py
  src/hip_cargo/templates/onboard_core.py
  src/hip_cargo/templates/pyproject.toml
  src/hip_cargo/templates/tbump.toml
  src/hip_cargo/templates/workflows/update-cabs.yml
Due: update-cli-help, update-readme

docs: update CLAUDE.md for _container_image.py, remove entry-point doc
  CLAUDE.md
Due: none

fix: address code review findings
  .github/copilot-instructions.md
  README.md
  src/hip_cargo/templates/tbump.toml
  src/hip_cargo/utils/config.py
Due: update-cli-help, update-readme

simplify monolithic CLAUDE.md file and include rules
  CLAUDE.md
Due: none

streamline copilot instructions for reviews
  .github/copilot-instructions.md
Due: none

merge in gitcliff changes
  src/hip_cargo/_container_image.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
  src/hip_cargo/utils/config.py
Due: update-cli-help, update-readme

address copilot comments
  README.md
  src/hip_cargo/utils/config.py
Due: update-cli-help, update-readme

fix failing test
  src/hip_cargo/utils/config.py
Due: update-cli-help, update-readme

use uvx to run git-cliff in tbump
  src/hip_cargo/templates/tbump.toml
  tbump.toml
Due: none

modify tbump config to allow pre-releases and patches
  tbump.toml
Due: none

build: update container name
  src/hip_cargo/_container_image.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
Due: update-cli-help, update-readme

chore: exlcude changelog from linting checks during pre-commit
  .pre-commit-config.yaml
  src/hip_cargo/_container_image.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
Due: update-cli-help, update-readme

Bump version to 0.2.0rc1
  CHANGELOG.md
  pyproject.toml
  src/hip_cargo/__init__.py
  src/hip_cargo/_container_image.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

use pep440 type container tags instead of symver
  .github/workflows/publish-container.yml
Due: none

chore: update container image name
  src/hip_cargo/_container_image.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
Due: update-cli-help, update-readme

Bump version to 0.2.0rc2
  CHANGELOG.md
  pyproject.toml
  src/hip_cargo/__init__.py
  src/hip_cargo/_container_image.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

docs: update README with more comprehensive contribution guidelines. Sync templates.
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/update-cabs.yml
  .pre-commit-config.yaml
  README.md
  src/hip_cargo/cabs/init.yml
  src/hip_cargo/cli/init.py
  src/hip_cargo/core/init.py
  src/hip_cargo/templates/cliff.toml
  src/hip_cargo/templates/onboard_core.py
  src/hip_cargo/templates/pyproject.toml
  src/hip_cargo/templates/tbump.toml
  src/hip_cargo/templates/workflows/ci.yml
  src/hip_cargo/templates/workflows/publish-container.yml
  src/hip_cargo/templates/workflows/publish.yml
  src/hip_cargo/templates/workflows/update-cabs.yml
Due: update-cli-help, update-readme

docs: add instructions for building image locally with apptainer
  README.md
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
Due: update-readme

feat: add StimelaMeta dataclass to keep track of stimela metadata (favour over old dict approach)
  src/hip_cargo/__init__.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
  src/hip_cargo/cli/generate_cabs.py
  src/hip_cargo/cli/generate_function.py
  src/hip_cargo/cli/init.py
  src/hip_cargo/core/generate_function.py
  src/hip_cargo/utils/cab_to_function.py
  src/hip_cargo/utils/introspector.py
  src/hip_cargo/utils/runner.py
  tests/test_stimela_metadata.py
Due: update-cli-help, update-readme

fix: git add missing files
  src/hip_cargo/utils/metadata.py
  tests/test_stimela_meta_class.py
Due: update-cli-help, update-readme

docs: address copilot review on PR #74
  .github/workflows/publish.yml
  README.md
  src/hip_cargo/templates/workflows/publish.yml
Due: update-readme

Path conditions:
  update-cli-help: any of: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
  update-readme: any of: ^(src/.*\.py|pyproject\.toml|README\.md)$
