Repository landmanbester/hip-cargo: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme

update-cli-help:
  name: Update CLI help SVGs
  entry: python scripts/update_cli_help.py
  language: system
  pass_filenames: false

update-readme:
  name: Update README with code snippets
  entry: python scripts/update_readme.py
  language: system
  pass_filenames: false

use privileged app to run update-cabs workflow
  .github/workflows/update-cabs.yml
Due: none

Update .github/workflows/update-cabs.yml
  .github/workflows/update-cabs.yml
Due: none

fix circular tbump logic and remove unnecessary pre-commit hooks
  .gitignore
  .pre-commit-config.yaml
  README.md
  scripts/generate_cabs.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  tbump.toml
Due: update-readme

Bump version to 0.1.3
  pyproject.toml
  src/hip_cargo/__init__.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  tbump.toml
Due: update-cli-help, update-readme

add init command to initialise blank project structure
  .devcontainer/README.md
  .github/copilot-instructions.md
  CLAUDE.md
  README.md
  scripts/update_cli_help.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
  src/hip_cargo/cli/__init__.py
  src/hip_cargo/cli/init.py
  src/hip_cargo/core/init.py
  src/hip_cargo/templates/Dockerfile
  src/hip_cargo/templates/__init__.py
  src/hip_cargo/templates/cli_multi.py
  src/hip_cargo/templates/cli_single.py
  src/hip_cargo/templates/dependabot.yml
  src/hip_cargo/templates/devcontainer/devcontainer.json
  src/hip_cargo/templates/generate_cabs.py
  src/hip_cargo/templates/gitignore
  src/hip_cargo/templates/licenses/apache-2.0.txt
  src/hip_cargo/templates/licenses/bsd-3-clause.txt
  src/hip_cargo/templates/licenses/mit.txt
  src/hip_cargo/templates/onboard_cli.py
  src/hip_cargo/templates/onboard_core.py
  src/hip_cargo/templates/pre-commit-config.yaml
  src/hip_cargo/templates/pyproject.toml
  src/hip_cargo/templates/tbump.toml
  src/hip_cargo/templates/workflows/ci.yml
  src/hip_cargo/templates/workflows/publish-container.yml
  src/hip_cargo/templates/workflows/publish.yml
  src/hip_cargo/templates/workflows/update-cabs.yml
  tests/test_cli.py
  tests/test_init.py
  uv.lock
Due: update-cli-help, update-readme

set up credentials in the init commit
  src/hip_cargo/core/init.py
Due: update-cli-help, update-readme

pin uv version in actions
  Dockerfile
  src/hip_cargo/templates/Dockerfile
Due: none

add container runner logic and backend options to generated functions to select backend. docker, podman, apptainer and singularity supported
  .github/copilot-instructions.md
  CLAUDE.md
  README.md
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
  src/hip_cargo/core/generate_cabs.py
  src/hip_cargo/core/generate_function.py
  src/hip_cargo/utils/cab_to_function.py
  src/hip_cargo/utils/decorators.py
  src/hip_cargo/utils/runner.py
  tests/test_runner.py
Due: update-cli-help, update-readme

expand ~ when project-name is passed in as str. Don't use _ in default cli_command
  src/hip_cargo/core/init.py
Due: update-cli-help, update-readme

separate git commit and git checkout commands in init command to allow for older git versions
  src/hip_cargo/core/init.py
Due: update-cli-help, update-readme

remove uv.lock from gitignore template
  src/hip_cargo/templates/gitignore
Due: none

use actions/setup-python to install python before running uv
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/update-cabs.yml
  src/hip_cargo/templates/workflows/ci.yml
  src/hip_cargo/templates/workflows/publish.yml
  src/hip_cargo/templates/workflows/update-cabs.yml
Due: none

add ListStr dtypes and parsers etc. to avoid the clumsy comma separted string unpacking and document them. Update README.md with new Quick start and Quirks sections
  .github/copilot-instructions.md
  CLAUDE.md
  README.md
  docs/cli-help.svg
  docs/generate-cabs-help.svg
  docs/generate-function-help.svg
  src/hip_cargo/__init__.py
  src/hip_cargo/cli/generate_cabs.py
  src/hip_cargo/cli/generate_function.py
  src/hip_cargo/cli/init.py
  src/hip_cargo/core/generate_function.py
  src/hip_cargo/templates/onboard_cli.py
  src/hip_cargo/utils/cab_to_function.py
  src/hip_cargo/utils/introspector.py
  src/hip_cargo/utils/types.py
  tests/test_list_types.py
  tests/test_pfb_imaging_roundtrip.py
Due: update-cli-help, update-readme

Bump version to 0.1.4
  pyproject.toml
  src/hip_cargo/__init__.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
  tbump.toml
Due: update-cli-help, update-readme

Update github actions on clause
  src/hip_cargo/templates/workflows/ci.yml
Due: none

Revert "Update github actions on clause"
  src/hip_cargo/templates/workflows/ci.yml
Due: none

Prevent pull_request action triggering exclusively on the main branch
  src/hip_cargo/templates/workflows/ci.yml
Due: none

Add a cron job every Monday and Thursday @ 2h30am UTC
  src/hip_cargo/templates/workflows/ci.yml
Due: none

add backend fallback logic and keep track of rich_help_panel in stimela parameter metadata
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cli/generate_cabs.py
  src/hip_cargo/cli/generate_function.py
  src/hip_cargo/core/generate_function.py
  src/hip_cargo/utils/cab_to_function.py
  src/hip_cargo/utils/decorators.py
  src/hip_cargo/utils/introspector.py
Due: update-cli-help, update-readme

fix colons in help strings + add image name during pfb tests
  src/hip_cargo/cabs/init.yml
  src/hip_cargo/cli/init.py
  src/hip_cargo/utils/introspector.py
  tests/test_pfb_imaging_roundtrip.py
Due: update-cli-help, update-readme

fix how defaults for special types are added to CLI
  src/hip_cargo/utils/cab_to_function.py
Due: update-cli-help, update-readme

address copilot comments
  src/hip_cargo/utils/decorators.py
  src/hip_cargo/utils/introspector.py
  src/hip_cargo/utils/runner.py
  tests/test_runner.py
Due: update-cli-help, update-readme

add uv.lock to the list of versions tbump bumps
  tbump.toml
  uv.lock
Due: none

Rather let uv manage the lock file, just use a before_commit hook in tbump
  tbump.toml
Due: none

Bump version to 0.1.5
  pyproject.toml
  src/hip_cargo/__init__.py
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

also update image name in decorators when running generate-cabs script during pre-commit
  scripts/generate_cabs.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
  src/hip_cargo/cli/generate_cabs.py
  src/hip_cargo/cli/generate_function.py
  src/hip_cargo/cli/init.py
  src/hip_cargo/core/generate_cabs.py
Due: update-cli-help, update-readme

address copilot comments
  .github/workflows/update-cabs.yml
  scripts/generate_cabs.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
  src/hip_cargo/cli/generate_cabs.py
  src/hip_cargo/cli/generate_function.py
  src/hip_cargo/cli/init.py
  tests/test_cli.py
  tests/test_pfb_imaging_roundtrip.py
Due: update-cli-help, update-readme

remove scripts/generate_cabs.py and move functionality into core app
  .github/copilot-instructions.md
  .github/workflows/update-cabs.yml
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  pyproject.toml
  scripts/generate_cabs.py
  src/hip_cargo/cli/generate_cabs.py
  src/hip_cargo/cli/generate_function.py
  src/hip_cargo/cli/init.py
  src/hip_cargo/core/generate_cabs.py
  src/hip_cargo/core/generate_function.py
  src/hip_cargo/core/init.py
  src/hip_cargo/templates/generate_cabs.py
  src/hip_cargo/templates/pre-commit-config.yaml
  src/hip_cargo/templates/pyproject.toml
  src/hip_cargo/templates/tbump.toml
  src/hip_cargo/templates/workflows/update-cabs.yml
  src/hip_cargo/utils/config.py
  src/hip_cargo/utils/runner.py
  tbump.toml
  tests/test_init.py
  uv.lock
Due: update-cli-help, update-readme

address copilot comments
  src/hip_cargo/core/generate_cabs.py
  tests/test_cli.py
Due: update-cli-help, update-readme

add quotes around wildcard in hip-cargo generate-cabs command in tbump
  pyproject.toml
  src/hip_cargo/__init__.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

revert tbump version bump manually
  pyproject.toml
  src/hip_cargo/__init__.py
  tbump.toml
Due: update-cli-help, update-readme

fix uv.lock
  uv.lock
Due: none

fix tbump config -> only delete sentinel once cabs have been generated
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
  src/hip_cargo/core/generate_cabs.py
  src/hip_cargo/templates/tbump.toml
  tbump.toml
Due: update-cli-help, update-readme

Bump version to 0.1.6
  pyproject.toml
  src/hip_cargo/__init__.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

fix end message for init pp when cli-mode==single
  src/hip_cargo/core/init.py
Due: update-cli-help, update-readme

start adding api stuffs
  pyproject.toml
  src/hip_cargo/__init__.py
  src/hip_cargo/monitoring/__init__.py
  src/hip_cargo/monitoring/config.py
  src/hip_cargo/monitoring/ray_backend.py
  src/hip_cargo/monitoring/recipe_parser.py
  src/hip_cargo/utils/progress.py
  src/hip_cargo/utils/progress_context.py
  tests/fixtures/sara.yml
  tests/test_config.py
  tests/test_pfb_imaging_roundtrip.py
  tests/test_progress.py
  tests/test_ray_backend.py
  tests/test_recipe_parser.py
  uv.lock
Due: update-cli-help, update-readme

fix ray test
  tests/test_ray_backend.py
Due: none

add api files
  src/hip_cargo/cli/__init__.py
  src/hip_cargo/cli/monitor.py
  src/hip_cargo/monitoring/config.py
  src/hip_cargo/monitoring/discovery.py
  src/hip_cargo/monitoring/recipe_discovery.py
  src/hip_cargo/monitoring/server.py
  tests/test_discovery.py
  tests/test_server.py
Due: update-cli-help, update-readme

Rely on cab defintions for schemas
  src/hip_cargo/monitoring/cab_resolver.py
  src/hip_cargo/monitoring/discovery.py
  src/hip_cargo/monitoring/recipe_parser.py
  src/hip_cargo/monitoring/server.py
  tests/test_cab_resolver.py
  tests/test_discovery.py
Due: update-cli-help, update-readme

use a queue to dispatch websocket tasks
  pyproject.toml
  src/hip_cargo/monitoring/dispatcher.py
  src/hip_cargo/monitoring/server.py
  tests/test_dispatcher.py
  tests/test_server.py
  uv.lock
Due: update-cli-help, update-readme

Path conditions:
  update-cli-help: any of: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
  update-readme: any of: ^(src/.*\.py|pyproject\.toml|README\.md)$
