Repository landmanbester/hip-cargo: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme

.pre-commit-config.yaml:

# Pre-commit hooks for hip-cargo
# See https://pre-commit.com for more information
#
# NOTE: When hooks modify files, pre-commit will "fail" and abort the commit.
# This is expected behavior - it allows you to review the changes.
# Simply run `git add -u && git commit` again. The second attempt will succeed
# because the files are already correctly formatted/updated.

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-toml
      - id: mixed-line-ending

  # Local hooks run after external hooks, ensuring they see formatted code
  - repo: local
    hooks:
      - id: update-cli-help
        name: Update CLI help SVGs
        entry: python scripts/update_cli_help.py
        language: system
        files: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
        pass_filenames: false

      - id: update-readme
        name: Update README with code snippets
        entry: python scripts/update_readme.py
        language: system
        files: ^(src/.*\.py|pyproject\.toml|README\.md)$
        pass_filenames: false

      - id: generate-cabs
        name: Generate Stimela cab definitions
        entry: python scripts/generate_cabs.py
        language: system
        always_run: true
        pass_filenames: false

feat(runner): pass GPU and per-backend run-args into container cmd
  src/hip_cargo/utils/runner.py
  tests/test_runner.py
Due: update-cli-help, update-readme

feat(init): scaffold commented GPU/RUN_ARGS in _container_image.py
  src/hip_cargo/core/init.py
  tests/test_init.py
Due: update-cli-help, update-readme

docs: document GPU passthrough and per-backend run-args
  .claude/rules/architecture.md
  src/hip_cargo/templates/CLAUDE.md
Due: none

test: add opt-in live GPU container smoke test
  tests/test_gpu_live.py
Due: none

refactor(runner): tighten device-spec handling; doc podman caveat; strengthen tests
  .claude/rules/architecture.md
  src/hip_cargo/templates/CLAUDE.md
  src/hip_cargo/utils/runner.py
  tests/test_runner.py
Due: update-cli-help, update-readme

docs: document GPU passthrough and RUN_ARGS in README and CLAUDE.md
  CLAUDE.md
  README.md
Due: update-readme

feat(runner): print full container command on fallback
  src/hip_cargo/utils/runner.py
  tests/test_runner.py
Due: update-cli-help, update-readme

feat: add gpu args to _container_image.py to allow executing in containerised backend
  .claude/rules/python-standards.md
  .claude/rules/testing-and-ci.md
  .gitignore
Due: none

fix: address Copilot review on PR #80
  .claude/rules/testing-and-ci.md
  src/hip_cargo/utils/config.py
  src/hip_cargo/utils/runner.py
  tests/test_config.py
  tests/test_runner.py
Due: update-cli-help, update-readme

fix(runner): normalise bare docker GPU index lists to device= form
  src/hip_cargo/utils/runner.py
  tests/test_runner.py
Due: update-cli-help, update-readme

chore(release): bump version to 0.2.2
  CHANGELOG.md
  pyproject.toml
  src/hip_cargo/__init__.py
  src/hip_cargo/_container_image.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/generate_schemas.yml
  src/hip_cargo/cabs/init.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

feat: add cabs.yml, delete outdated agent docs
  docs/stitch-prompt.md
  docs/transpiler_feature.md
  src/hip_cargo/cabs/cabs.yml
Due: none

fix: make sure list defaults are respected in both directions
  src/hip_cargo/utils/cab_to_function.py
  src/hip_cargo/utils/introspector.py
  src/hip_cargo/utils/types.py
  tests/test_list_types.py
Due: update-cli-help, update-readme

chore: updated container tag
  src/hip_cargo/_container_image.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/generate_schemas.yml
  src/hip_cargo/cabs/init.yml
Due: update-cli-help, update-readme

refactor: centralize list-default parsing in LIST_DTYPE_PARSERS
  src/hip_cargo/utils/cab_to_function.py
  src/hip_cargo/utils/introspector.py
  src/hip_cargo/utils/types.py
Due: update-cli-help, update-readme

docs: add per-task diagnostics design for agent-driven optimisation
  docs/design/transpile-rfc.md
  docs/hip-cargo-monitoring-design-doc.md
  docs/superpowers/specs/2026-07-12-per-task-diagnostics-design.md
Due: none

docs: add per-task diagnostics implementation plan
  docs/superpowers/plans/2026-07-12-per-task-diagnostics.md
Due: none

feat: add stdlib per-task diagnostics capture layer
  src/hip_cargo/utils/diagnostics.py
  tests/test_diagnostics.py
Due: update-cli-help, update-readme

feat: emit DIAGNOSTIC event from track_progress
  src/hip_cargo/__init__.py
  src/hip_cargo/utils/progress.py
  src/hip_cargo/utils/progress_context.py
  tests/test_diagnostics.py
  tests/test_progress.py
Due: update-cli-help, update-readme

feat: optional psutil sampling tier for diagnostics
  src/hip_cargo/utils/diagnostics.py
  src/hip_cargo/utils/progress_context.py
  tests/test_diagnostics.py
Due: update-cli-help, update-readme

feat: diagnostics report join and aggregator method
  src/hip_cargo/monitoring/diagnostics_report.py
  src/hip_cargo/monitoring/ray_backend.py
  tests/test_diagnostics_report.py
  tests/test_ray_backend.py
Due: update-cli-help, update-readme

feat: serve per-task diagnostics report endpoint
  src/hip_cargo/monitoring/server.py
  tests/test_server.py
Due: update-cli-help, update-readme

docs: mark per-task diagnostics implemented
  CLAUDE.md
  docs/hip-cargo-monitoring-design-doc.md
  docs/superpowers/specs/2026-07-12-per-task-diagnostics-design.md
Due: none

docs: mark diagnostics plan steps complete
  docs/superpowers/plans/2026-07-12-per-task-diagnostics.md
Due: none

docs: add LLM wiki, retire specs/plans as documentation
  CLAUDE.md
  README.md
  docs/hip-cargo-monitoring-design-doc.md
  docs/rfc-revision-and-stokify-task.md
  docs/superpowers/plans/2026-04-07-container-image-discovery.md
  docs/superpowers/plans/2026-04-08-git-cliff-setup.md
  docs/superpowers/plans/2026-04-09-replace-entry-points.md
  docs/superpowers/plans/2026-04-19-uri-object-store-support.md
  docs/superpowers/plans/2026-06-24-gpu-container-fallback.md
  docs/superpowers/plans/2026-07-12-per-task-diagnostics.md
  docs/superpowers/specs/2026-04-09-replace-entry-points-with-container-image-module.md
  docs/superpowers/specs/2026-04-19-uri-object-store-support-design.md
  docs/superpowers/specs/2026-06-24-gpu-container-fallback-design.md
  docs/superpowers/specs/2026-07-12-per-task-diagnostics-design.md
  docs/wiki/container-execution.md
  docs/wiki/diagnostics.md
  docs/wiki/index.md
  docs/wiki/log.md
  docs/wiki/monitoring-api.md
  docs/wiki/optimising-pipelines.md
  docs/wiki/progress-protocol.md
  docs/wiki/remote-uris.md
Due: update-readme

feat(transpile): recipe validation with named refusals
  docs/superpowers/plans/2026-07-13-transpile-v1.md
  docs/superpowers/specs/2026-07-13-transpile-v1-design.md
  src/hip_cargo/core/transpile.py
  src/hip_cargo/monitoring/recipe_parser.py
  tests/fixtures/transpile/fakepkg/__init__.py
  tests/fixtures/transpile/fakepkg/cabs/__init__.py
  tests/fixtures/transpile/fakepkg/cabs/alpha.yml
  tests/fixtures/transpile/fakepkg/cabs/beta.yml
  tests/fixtures/transpile/fakepkg/cabs/delta.yml
  tests/fixtures/transpile/fakepkg/core/__init__.py
  tests/fixtures/transpile/fakepkg/core/alpha.py
  tests/fixtures/transpile/fakepkg/core/beta.py
  tests/fixtures/transpile/fakepkg/core/delta.py
  tests/fixtures/transpile/recipes/alias.yml
  tests/fixtures/transpile/recipes/fallback.yml
  tests/fixtures/transpile/recipes/formula.yml
  tests/fixtures/transpile/recipes/linear_ok.yml
  tests/fixtures/transpile/recipes/loop.yml
  tests/fixtures/transpile/recipes/unbound_required.yml
  tests/fixtures/transpile/recipes/unknown_ref.yml
  tests/test_transpile_validate.py
Due: update-cli-help, update-readme

feat(transpile): recipe IR, data-edge inference, inmem detection
  src/hip_cargo/core/transpile.py
  tests/test_transpile_spec.py
Due: update-cli-help, update-readme

feat(transpile): emit tasks/runner/cli package with golden tests
  src/hip_cargo/core/transpile.py
  tests/fixtures/transpile/golden/__init__.py
  tests/fixtures/transpile/golden/cli.py
  tests/fixtures/transpile/golden/runner.py
  tests/fixtures/transpile/golden/tasks.py
  tests/test_transpile_codegen.py
Due: update-cli-help, update-readme

feat(transpile): hip-cargo transpile command, wiki page
  docs/wiki/index.md
  docs/wiki/log.md
  docs/wiki/transpile.md
  src/hip_cargo/cli/__init__.py
  src/hip_cargo/cli/transpile.py
Due: update-cli-help, update-readme

docs(wiki): transpile v1 live proof, retire ephemeral spec/plan
  docs/superpowers/plans/2026-07-13-transpile-v1.md
  docs/superpowers/specs/2026-07-13-transpile-v1-design.md
  docs/wiki/log.md
  docs/wiki/transpile.md
  src/hip_cargo/cabs/transpile.yml
  src/hip_cargo/core/transpile.py
Due: update-cli-help, update-readme

chore: restore license-files packaging metadata
  pyproject.toml
Due: update-cli-help, update-readme

fix: restore Python 3.10 support for the lightweight install
  .github/workflows/ci.yml
  .gitignore
  pyproject.toml
  src/hip_cargo/utils/progress.py
  src/hip_cargo/utils/runner.py
  tests/test_config.py
  tests/test_dispatcher.py
  tests/test_server.py
  tests/test_stimela_meta_class.py
  uv.lock
Due: update-cli-help, update-readme

fix: cab commands point at real core functions
  src/hip_cargo/cli/monitor.py
  src/hip_cargo/core/monitor.py
  src/hip_cargo/core/transpile.py
Due: update-cli-help, update-readme

fix(transpile): harden codegen against string/name injection
  src/hip_cargo/core/transpile.py
  src/hip_cargo/utils/cab_to_function.py
  tests/test_list_types.py
  tests/test_transpile_codegen.py
  tests/test_transpile_validate.py
Due: update-cli-help, update-readme

fix(transpile): surface step failures in generated runner
  src/hip_cargo/core/transpile.py
  tests/fixtures/transpile/fakepkg/cabs/omega.yml
  tests/fixtures/transpile/fakepkg/core/omega.py
  tests/fixtures/transpile/golden/runner.py
  tests/fixtures/transpile/golden/tasks.py
  tests/fixtures/transpile/recipes/failing.yml
  tests/test_transpile_codegen.py
Due: update-cli-help, update-readme

fix(monitoring): disable placeholder submit endpoint (501)
  docs/wiki/monitoring-api.md
  src/hip_cargo/monitoring/server.py
  tests/test_server.py
Due: update-cli-help, update-readme

docs: record post-ultra-review fixes and known limitations
  README.md
  docs/review-artifacts/wheel-review.md
  docs/wiki/log.md
  docs/wiki/monitoring-api.md
  docs/wiki/transpile.md
Due: update-readme

chore(release): bump version to 0.3.0
  CHANGELOG.md
  pyproject.toml
  src/hip_cargo/__init__.py
  src/hip_cargo/_container_image.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/generate_schemas.yml
  src/hip_cargo/cabs/init.yml
  src/hip_cargo/cabs/monitor.yml
  src/hip_cargo/cabs/transpile.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

chore: exclude markdown from ruff format
  pyproject.toml
Due: update-cli-help, update-readme
