Repository landmanbester/hip-cargo: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-cli-help, update-readme

update-cli-help:
  name: Update CLI help SVGs
  entry: python scripts/update_cli_help.py
  language: system
  pass_filenames: false

update-readme:
  name: Update README with code snippets
  entry: python scripts/update_readme.py
  language: system
  pass_filenames: false

fix(release): use conventional commit format for tbump version bumps
  cliff.toml
  src/hip_cargo/templates/cliff.toml
  src/hip_cargo/templates/tbump.toml
  tbump.toml
Due: none

chore(release): bump version to 0.2.0
  CHANGELOG.md
  pyproject.toml
  src/hip_cargo/__init__.py
  src/hip_cargo/_container_image.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

deps: add fsspec and universal_pathlib as core dependencies
  pyproject.toml
  uv.lock
Due: update-cli-help, update-readme

feat(types): add parse_upath parser and re-export UPath
  src/hip_cargo/__init__.py
  src/hip_cargo/utils/types.py
  tests/test_upath_parser.py
Due: update-cli-help, update-readme

feat(types): back File/Directory/MS/URI with UPath
  src/hip_cargo/utils/introspector.py
Due: update-cli-help, update-readme

feat(runner): widen _is_path_type to cover UPath
  src/hip_cargo/utils/runner.py
  tests/test_remote_uri_runner.py
Due: update-cli-help, update-readme

feat(runner): add remote-URI protocol detection helpers
  src/hip_cargo/utils/runner.py
  tests/test_remote_uri_runner.py
Due: update-cli-help, update-readme

test(runner): cover None and list branches of _collect_remote_protocols
  tests/test_remote_uri_runner.py
Due: none

feat(runner): skip remote UPaths in mount resolution
  src/hip_cargo/utils/runner.py
  tests/test_remote_uri_runner.py
Due: update-cli-help, update-readme

feat(runner): add preflight_remote_must_exist for remote URIs
  src/hip_cargo/utils/runner.py
  tests/test_remote_uri_runner.py
Due: update-cli-help, update-readme

feat(codegen): emit parse_upath parser and must_exist pre-flight
  src/hip_cargo/cli/generate_cabs.py
  src/hip_cargo/cli/generate_function.py
  src/hip_cargo/cli/init.py
  src/hip_cargo/core/generate_function.py
  src/hip_cargo/utils/cab_to_function.py
Due: update-cli-help, update-readme

feat(runner): add per-scheme credential env/mount maps
  src/hip_cargo/utils/runner.py
  tests/test_remote_uri_runner.py
Due: update-cli-help, update-readme

feat(runner): forward credential env/mounts to container cmd
  src/hip_cargo/utils/runner.py
  tests/test_remote_uri_runner.py
Due: update-cli-help, update-readme

feat(runner): hint at hip-cargo[s3/gcs/azure] extras on missing runtime
  src/hip_cargo/utils/runner.py
  tests/test_remote_uri_runner.py
Due: update-cli-help, update-readme

feat(packaging): add s3/gcs/azure/all optional extras
  pyproject.toml
  uv.lock
Due: update-cli-help, update-readme

build(docker): install hip-cargo[all] for remote URI support
  Dockerfile
Due: none

docs(readme): add Remote URIs and object stores section
  README.md
Due: update-readme

fix(review): respond to copilot comments
  README.md
  src/hip_cargo/utils/runner.py
  tests/test_remote_uri_runner.py
Due: update-cli-help, update-readme

chore: update image tag
  src/hip_cargo/_container_image.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/init.yml
Due: update-cli-help, update-readme

feat: add schema generator
  README.md
  pyproject.toml
  src/hip_cargo/_container_image.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/generate_schemas.yml
  src/hip_cargo/cabs/init.yml
  src/hip_cargo/cli/__init__.py
  src/hip_cargo/cli/generate_schemas.py
  src/hip_cargo/core/generate_cabs.py
  src/hip_cargo/core/generate_schemas.py
  src/hip_cargo/utils/cab_to_function.py
  src/hip_cargo/utils/introspector.py
  src/hip_cargo/utils/spec.py
  tests/fixtures/src/fixture_pkg/__init__.py
  tests/fixtures/src/fixture_pkg/cli/__init__.py
  tests/fixtures/src/fixture_pkg/cli/tunable_demo.py
  tests/fixtures/src/fixture_pkg/core/__init__.py
  tests/test_generate_schemas.py
  tests/test_roundtrip.py
  tests/test_tunable_roundtrip.py
  uv.lock
Due: update-cli-help, update-readme

fix: mount implicit outputs, walk up ancestors when directory does not exist
  src/hip_cargo/utils/runner.py
  tests/test_remote_uri_runner.py
  tests/test_runner.py
Due: update-cli-help, update-readme

test: remove pfb-imaging from test dependencies
  pyproject.toml
  uv.lock
Due: update-cli-help, update-readme

fix: address copilot comments
  src/hip_cargo/core/generate_schemas.py
  src/hip_cargo/utils/runner.py
  tests/test_generate_schemas.py
  tests/test_runner.py
Due: update-cli-help, update-readme

fix: make pyproject.toml PEP639 compliant
  pyproject.toml
  src/hip_cargo/core/init.py
  src/hip_cargo/templates/pyproject.toml
Due: update-cli-help, update-readme

fix: replace incorrect <CLI_COMMAND> with hip-cargo in pre-commit template
  src/hip_cargo/templates/Dockerfile
  src/hip_cargo/templates/pre-commit-config.yaml
Due: none

feat(init): expand templates to give agents more context of the expected hip-cargo project structure after a fresh init
  src/hip_cargo/core/init.py
  src/hip_cargo/templates/CLAUDE.md
  src/hip_cargo/templates/onboard_cli.py
  src/hip_cargo/templates/pyproject.toml
  src/hip_cargo/templates/tbump.toml
  src/hip_cargo/templates/test_roundtrip.py
  src/hip_cargo/templates/workflows/update-cabs.yml
Due: update-cli-help, update-readme

chore: change image tag to branch name
  src/hip_cargo/_container_image.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/generate_schemas.yml
  src/hip_cargo/cabs/init.yml
Due: update-cli-help, update-readme

test(init): cover new scaffolded files in expected_files
  tests/test_init.py
Due: none

chore(release): bump version to 0.2.1
  CHANGELOG.md
  pyproject.toml
  src/hip_cargo/__init__.py
  src/hip_cargo/_container_image.py
  src/hip_cargo/cabs/generate_cabs.yml
  src/hip_cargo/cabs/generate_function.yml
  src/hip_cargo/cabs/generate_schemas.yml
  src/hip_cargo/cabs/init.yml
  tbump.toml
  uv.lock
Due: update-cli-help, update-readme

chore: checkpoint
  .github/workflows/ci.yml
  pyproject.toml
  src/hip_cargo/cabs/monitor.yml
  src/hip_cargo/utils/config.py
  tests/conftest.py
  tests/test_integration.py
  tests/test_ray_backend.py
  uv.lock
Due: update-cli-help, update-readme

fix(init): update templates
  .github/dependabot.yml
  src/hip_cargo/core/init.py
  src/hip_cargo/templates/CLAUDE.md
  src/hip_cargo/templates/CODEOWNERS
  src/hip_cargo/templates/Dockerfile
  src/hip_cargo/templates/claude/rules/architecture.md
  src/hip_cargo/templates/claude/rules/python-standards.md
  src/hip_cargo/templates/claude/rules/testing-and-ci.md
  src/hip_cargo/templates/dependabot.yml
  src/hip_cargo/templates/onboard_cli.py
  src/hip_cargo/templates/pre-commit-config.yaml
  src/hip_cargo/templates/python-version
  src/hip_cargo/templates/workflows/ci.yml
Due: update-cli-help, update-readme

docs(design): add docs folder with claude plans and designs
  .gitignore
  docs/design/transpile-rfc.md
  docs/hip-cargo-monitoring-design-doc.md
  docs/stitch-prompt.md
  docs/superpowers/plans/2026-04-07-container-image-discovery.md
  docs/superpowers/plans/2026-04-08-git-cliff-setup.md
  docs/superpowers/plans/2026-04-09-replace-entry-points.md
  docs/superpowers/plans/2026-04-19-uri-object-store-support.md
  docs/superpowers/specs/2026-04-09-replace-entry-points-with-container-image-module.md
  docs/superpowers/specs/2026-04-19-uri-object-store-support-design.md
  docs/transpiler_feature.md
Due: none

docs: plan stokify demonstrator
  docs/design/2026-06-04-stokify-spike-plan.md
  docs/design/transpile-rfc.md
  docs/rfc-revision-and-stokify-task.md
Due: none

docs: add GPU container-fallback design spec
  docs/superpowers/specs/2026-06-24-gpu-container-fallback-design.md
Due: none

docs: add GPU container-fallback implementation plan
  docs/superpowers/plans/2026-06-24-gpu-container-fallback.md
Due: none

feat(runner): read GPU/RUN_ARGS from package _container_image
  src/hip_cargo/utils/config.py
  tests/test_config.py
Due: update-cli-help, update-readme

fix(runner): annotate _load_container_image_module return type
  src/hip_cargo/utils/config.py
Due: update-cli-help, update-readme

feat(runner): resolve GPU request with env override and auto-detect
  src/hip_cargo/utils/runner.py
  tests/test_runner.py
Due: update-cli-help, update-readme

test(runner): cover /dev/nvidia0 detection and singularity auto-gating
  tests/test_runner.py
Due: none

feat(runner): map resolved GPU spec to per-runtime flags
  src/hip_cargo/utils/runner.py
  tests/test_runner.py
Due: update-cli-help, update-readme

Path conditions:
  update-cli-help: any of: ^(src/hip_cargo/.*\.py|pyproject\.toml)$
  update-readme: any of: ^(src/.*\.py|pyproject\.toml|README\.md)$
